<!--
============================================
Title: footer.ejs
Author: Oksana Kustova
Date: 9/10/2021
Description: The view of footer for Employee Management System.
===========================================
-->

<hr>
<footer>
    <p>© Company 2021</p>
</footer>