<!--
============================================
Title: index.ejs
Author: Oksana Kustova
Date: 9/10/2021
Description: The view of home page for Employee Management System.
===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body class="container">
    <%- include ('navbar') %>
    <div role="main" class="container">
      <br /><br />
      <h2>Welcome to Employee Management System!</h2>
      <br /><br />
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View employee records</h5>
          <p class="card-text">
            Here you can view, edit and delete employee records, as well as add
            new ones.
          </p>
          <a href="#" class="btn btn-success">View records</a>
        </div>
      </div>
      <br /><br />
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add a new team member</h5>
          <p class="card-text">
            Here you can add a new employee and enter the necessary information
            about him or her.
          </p>
          <a href="/new" class="btn btn-success"> Add an employee</a>
        </div>
      </div>
    </div>
    <%- include('footer') %> <%- include ('scripts') %>
  </body>
</html>
