<!--
============================================
Title: contact.ejs
Author: Oksana Kustova
Date: 8/27/2021
Description: The view of contact page for Navigation example.
===========================================
-->

<%- include('header') %>
<div role="main" class="container">
    <br/><br/>
    <h2>Welcome to the <%= message %>!</h2>
</div>
<%- include('footer') %>
