<!--
============================================
Title: footer.ejs
Author: Oksana Kustova
Date: 8/27/2021
Description: The view of footer for Navigation example.
===========================================
-->

</body>
</html>
